# Project files unused
src/main/java/META-INF/sun-jaxb.episode
src/main/java/au/com/qantas/loyalty/lsl/statuscredits/system/model/ObjectFactory.java

# Operating System Files
*.DS_Store
Thumbs.db

# Build Files #
bin
target
temp-output
build/
.gradle
.mvn/*

# Eclipse Project Files #
.classpath
.project
.settings

# STS Project Files #
.springBeans

# IntelliJ IDEA Files #
*.iml
*.ipr
*.iws
*.idea

# NetBeans Project Files #
nbactions.xml
nb-configuration.xml

# Spring Roo
log.roo

# PMD
.pmd

# Node
src/main/frontend/node_modules
bundle.js
npm-debug.log

